# Programming_Assignment4

1. Write a Python Program to Find the Factorial of a Number?

In [2]:
def factorialnumber(num):
    
    if (num==1):
        return 1
    else:
        return num*factorialnumber(num-1)

In [3]:
num = int(input("Enter a number   "))
factorialnumber(num)

Enter a number   5

120

2. Write a Python Program to Display the multiplication Table?

In [15]:
def multiplication_table(num):
    for i in range(1,11):
        print(f"{num}X{i}={num*i}")

In [16]:
num =int(input("enter number :\t"))
multiplication_table(num)

enter number :	9
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81
9X10=90

3. Write a Python Program to Print the Fibonacci sequence?

In [21]:
def printfibonacciseq(n):
    a=0
    b=1
    
    if n<1:
        print("Enter positive number")
    elif n==1:
        print("Fibonacci Sequence:") 
        print(a)
    else:
        print("fibonacci Sequence :  ")
        for i in range(n):
            print(a)
            c = a + b
            a = b
            b = c

In [18]:
printfibonacciseq(15)

fibonacci Sequence :
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

4. Write a Python Program to Check Armstrong Number?

In [63]:
371 == 3*3*3 + 7*7*7 + 1*1*1

True

In [23]:
import math
def order(num):
    return int(math.log10(num))+1

def isArmstrong(num):
    n = order(num)
    s = 0
    temp = num

    while temp!=0:
        r = temp%10
        s += r**n
        temp = temp//10

    return s==num

In [24]:
isArmstrong(153)

True

In [64]:
isArmstrong(154)

False

5. Write a Python Program to Find Armstrong Number in an Interval?

In [25]:
lower_bound = 100
upper_bound = 1000

In [26]:
for r in range(lower_bound, upper_bound+1):
    if isArmstrong(r):
        print(f"Number {r} is Armstrong Number")

Number 153 is Armstrong Number
Number 370 is Armstrong Number
Number 371 is Armstrong Number
Number 407 is Armstrong Number

6. Write a Python Program to Find the Sum of Natural Numbers?

Given a number n find sum of first n natural numbers.

n = 6
6+5+4+3+2+1 = 21

In [27]:
def findSum(n) :
    return (n / 2) * (n + 1) if (n % 2 == 0) else ((n + 1) / 2) * n

In [28]:
findSum(6)

21.0

In [29]:
findSum(8)

36.0